* 
{
    padding: 0;
    margin:0;
}

body
{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.container 
{
    display: grid;
    width: 30vw;
    aspect-ratio: 1/1;
    border: 5px solid #000;
    
    background-color: #ccc;
    gap: 1px;
}

.container > * {
    background-color: #fff;
    transition: 100ms ease;
}

.container > div:hover {
    background-color: #0005;
}